{{template "header" .}}

<h1>Alternatives to traditional policing</h1>

<p>
  If we were to start fresh, what are the possible ways to address the problem of
  public safety? Check out the links below for some ideas.
</p>

<h2>General Reading</h2>
<ul>
  <li><a href="https://www.rollingstone.com/politics/politics-news/police-brutality-cop-free-world-protest-199465/">Rolling Stone: Size Ideas for a Cop Free World</a></li>
  <li><a href="https://www.chicagoreader.com/chicago/police-abolitionist-movement-alternatives-cops-chicago/Content?oid=23289710">Chicago: Abolish the police? Organizers say it's less crazy than it sounds</a></li>
</ul>

<h2>Restorative Justice</h2>

<p>Restorative justice is an approach to justice in which one of the responses to a crime is to
  organize a meeting between the victim and the offender, sometimes with representatives of the wider community.</p>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Restorative_justice">Wikipedia: Restorative Justice</a></li>
  <li><a href="https://mcgilldaily.com/PoliceIssue/Restorative-Justice.html">McGill Daily: Alternatives to the Police</a></li>    
  <li><a href="https://www.iirp.edu/pdf/RJ_full_report.pdf">Smith Institue: Restorative Justice: The Evidence</a></li>
</ul>

<h2>Books</h2>
<ul>
  <li><a href="https://www.versobooks.com/books/2817-the-end-of-policing">The End of Policing by Alex Vitale</a> - E-Book version is currently free</li>
</ul>

{{template "footer" .}}
