{{template "header" .}}

<div class="jumbo">
  <div>Disband the SPD</div>
  <div>Democratically Design Its Replacement</div>
</div>

<ul>
  <li><a href="/petition">Sign the petition</a></li>
  <li><a href="/alternatives">Read about alternatives to traditional policing</a></li>
</ul>

<div class="mintweet">
  <p>
    This IS possible. Minneapolis City Council is going to disband their police
    department and start fresh. Seattle can too.
  </p>
  
  <a href="https://mobile.twitter.com/lisabendermpls/status/1268644819628224513">
    <img height="300" src="/static/images/mpls_tweet.png" alt="Minneapolis Tweet" />
  </a>
  <div class="caption">Lisa Bender: Minneapolis City Council President</div>
  <div class="caption">Jeremiah Ellison: Minneapolis City Council Member, Ward 5</div>
</div>

{{template "footer" .}}
